body {
    background: blue;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}
h5 {
    color: red;
    font-size: 36px;
}
